.main_body {
  background-color: var(--background-color);
  position: relative;
  min-height: 100vh;
}

.main_background_wrapper {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--max-width);
  max-width: var(--max-width);
  height: 100vh;
  filter: saturate(0);
  box-shadow: 0 0 15rem 15rem var(--background-color) inset;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  position: relative;
  z-index: 20;
}